.icon-sm{
    font-size: 2rem;
}
.icon-lg{
    font-size: 9rem;
}
.icon-md{
    font-size: 4rem;
}
.avatar-sm{
    /* font-size: 2rem; */
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.avatar-md{
    /* font-size: 2rem; */
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.avatar-lg{
    /* font-size: 2rem; */
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}